#SlickWrapper{
    /*height: 65vh;*/
    width: 100vw;
    /*margin-bottom: 115px;*/
}

#SlickWrapper .slick-slide img{
    width:100%;
    height: 75vh;
    object-fit: cover;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex !important;
    align-content: center;
    justify-content: center;
    position: relative;
    bottom:auto;
    margin: 2rem 0;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #6fb7a6;
}

.slick-prev, .slick-next{
    top: 31vh;
    background: #1fb7a6;
    width: 6rem;
    height: 9rem;
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
    z-index: 1;
}

.slick-dots li {
    position: relative;
    width: 120px;
    height: auto;
    min-height:calc(2rem + 1rem);
    margin: 0 5px;
    padding: 0.5rem;
    cursor: pointer;
    background: white;
    border: 1px solid #1fb7a6;

    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots .slick-active{
    background:#1fb7a6;
    color:white;
}


#SlickWrapper .slick-titulo{
    width: 35vw;
    background: #1fb7a6;
    padding: 2rem 5rem;
    color: white;
    border-radius: 10rem;
    margin: auto;
    position: absolute;
    top: 7.5%;
    text-align: center;
    left: calc(50% - 17.5vw);
    font-size: 3rem;
    
}
#SlickWrapper .slick-descripcion{
    position: absolute;
    bottom: 7.5%;
    border:3px solid var(--gpr-color-verde);
    background:white;
    padding:1rem;
    left: calc(50% - 17.5vw);
    width: 35vw;
    text-align: center;
    display: none;
}

#SlickWrapper .slick-descripcion p{
    margin:0px;
}


@media (max-width: 768px) {
    #SlickWrapper .slick-titulo{
        top: 10.5%;
        font-size: 2rem;
        width:90%;
        left: calc(5%);
        padding: 1.5rem 3rem;
        /*position: static;*/
    }
    #SlickWrapper .slick-descripcion{
        width:80%;
        left: calc(10%);
    }

    #SlickWrapper .slick-slide img {
        height: 45vh;
    }

    .fixed-header #SlickWrapper{
        margin-top: 148px !important;
    }
    #SlickWrapper .slide{
        display:flex;
    }

    .slick-prev, .slick-next{
        top: 23vh;
        width: 4rem;
        height: 8rem;
    }

    .slick-dots{
        flex-wrap: wrap;
    }

    .slick-dots li{
        margin: 1rem 5px;
    }

}